<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Sigma-Auto</title>
  </head>
  <body>
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
          <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>
        </div>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="main" class="nav-link px-2 link-secondary text-danger">Главная</a></li>
          <li><a href="festivals" class="nav-link px-2 text-danger">фестивали</a></li>
          <li><a href="zal" class="nav-link px-2 text-danger">концерты</a></li>
          <li><a href="stand" class="nav-link px-2 text-danger">стендапы</a></li>
          <li><a href="ochemto" class="nav-link px-2 text-danger">О нас</a></li>
        </ul>
  
        <div class="col-md-3 text-end">
          <a class="btn btn-outline-primary me-2" href="login">Вход</a>
          <a class="btn btn-primary" href="register">Регистрация</a>
        </div>
      </header>
    </div>
    <main role="main" class="container">

        <div class="starter-template">
            <h1>Мои билеты.ру - о нас</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel tortor diam. Donec venenatis lorem at tempor semper. Phasellus<br>
                bibendum, urna ut auctor placerat, metus enim scelerisque diam, non placerat ante<br>
                elit nec purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales libero dolor, vitae tempor velit faucibus sed. Phasellus ac fermentum mauris, ac suscipit ligula.<br>
                Morbi blandit fermentum ex, aliquam luctus nulla tempus nec. Nam nunc mi, vehicula at mi ut, egestas dictum erat. In porttitor luctus congue. Nunc nec justo justo. Mauris tellus nisl, venenatis<br>
                ut consectetur porttitor, dictum nec arcu. Quisque in efficitur justo, quis ultricies metus.</p>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel tortor diam. Donec venenatis lorem at tempor semper. Phasellus<br>
                bibendum, urna ut auctor placerat, metus enim scelerisque diam, non placerat ante<br>
                elit nec purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales libero dolor, vitae tempor velit faucibus sed. Phasellus ac fermentum mauris, ac suscipit ligula.<br>
                Morbi blandit fermentum ex, aliquam luctus nulla tempus nec. Nam nunc mi, vehicula at mi ut, egestas dictum erat. In porttitor luctus congue. Nunc nec justo justo. Mauris tellus nisl, venenatis<br>
                ut consectetur porttitor, dictum nec arcu. Quisque in efficitur justo, quis ultricies metus.
            </p>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel tortor diam. Donec venenatis lorem at tempor semper. Phasellus<br>
                bibendum, urna ut auctor placerat, metus enim scelerisque diam, non placerat ante<br>
                elit nec purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales libero dolor, vitae tempor velit faucibus sed. Phasellus ac fermentum mauris, ac suscipit ligula.<br>
                Morbi blandit fermentum ex, aliquam luctus nulla tempus nec. Nam nunc mi, vehicula at mi ut, egestas dictum erat. In porttitor luctus congue. Nunc nec justo justo. Mauris tellus nisl, venenatis<br>
                ut consectetur porttitor, dictum nec arcu. Quisque in efficitur justo, quis ultricies metus.
            </p>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel tortor diam. Donec venenatis lorem at tempor semper. Phasellus<br>
                bibendum, urna ut auctor placerat, metus enim scelerisque diam, non placerat ante<br>
                elit nec purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales libero dolor, vitae tempor velit faucibus sed. Phasellus ac fermentum mauris, ac suscipit ligula.<br>
                Morbi blandit fermentum ex, aliquam luctus nulla tempus nec. Nam nunc mi, vehicula at mi ut, egestas dictum erat. In porttitor luctus congue. Nunc nec justo justo. Mauris tellus nisl, venenatis<br>
                ut consectetur porttitor, dictum nec arcu. Quisque in efficitur justo, quis ultricies metus.</p>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel tortor diam. Donec venenatis lorem at tempor semper. Phasellus<br>
                bibendum, urna ut auctor placerat, metus enim scelerisque diam, non placerat ante<br>
                elit nec purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales libero dolor, vitae tempor velit faucibus sed. Phasellus ac fermentum mauris, ac suscipit ligula.<br>
                Morbi blandit fermentum ex, aliquam luctus nulla tempus nec. Nam nunc mi, vehicula at mi ut, egestas dictum erat. In porttitor luctus congue. Nunc nec justo justo. Mauris tellus nisl, venenatis<br>
                ut consectetur porttitor, dictum nec arcu. Quisque in efficitur justo, quis ultricies metus.
            </p>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel tortor diam. Donec venenatis lorem at tempor semper. Phasellus<br>
                bibendum, urna ut auctor placerat, metus enim scelerisque diam, non placerat ante<br>
                elit nec purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales libero dolor, vitae tempor velit faucibus sed. Phasellus ac fermentum mauris, ac suscipit ligula.<br>
                Morbi blandit fermentum ex, aliquam luctus nulla tempus nec. Nam nunc mi, vehicula at mi ut, egestas dictum erat. In porttitor luctus congue. Nunc nec justo justo. Mauris tellus nisl, venenatis<br>
                ut consectetur porttitor, dictum nec arcu. Quisque in efficitur justo, quis ultricies metus.
            </p>
        </div>
      
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Footer</font></font></span>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>